/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202C36;
}

ul > li {
    list-style: none;
}